# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\kai\OneDrive - University of Dundee\Modules\Semester 2\AC12001 - Data Structures and Algorithms\Week 2\uerlichs_kai_assignment1\Project folder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
